<div id="chess">
	<p>
		<span class="round"></span>
		<span class="white"></span>
		<span class="white-elo"></span>
		<span class="black"></span>
		<span class="black-elo"></span>
	</p>
	
	<div class="board-with-info">
		<div id="board"></div>
		<div class="board-info">
			<button type="button" class="reset">Reset</button>
			<button type="button" class="back">&lt--</button>
			<button type="button" class="forward">--&gt</button>
			<button type="button" class="clear">Clear</button>
			<p><span id="status"></span></p>
			<!-- <p><span id="fen"></span></p> -->
			<p><span id="pgn"></span></p>
		</div>
	</div>

</div>