$(".gamebar ol").prepend('<p><a href="#" class="back-tourn">Back to tournaments list</a></p>')
$(".gamebar ol").prepend('<p><%= @tournament.location %>, <%= @tournament.date %></p>')
$(".gamebar ol").prepend('<h3><%= @tournament.event %></h3>')
$(".gamebar ol").append('<%= j render partial: "games/game", collection: @games %>');