#board {
	width: 330px;
	height: auto;
}

#chess {
	color: white;
}

.reset,
.back,
.forward,
.clear {
	color: black;
}

.gamebar {
	position: absolute;
	display: none;
	white-space: nowrap;
	overflow: auto;
	background-color: white;
}

ol {
	padding-left: 12px;
}

.new-game,
li .del-game {
	display: none;
}

li:hover .del-game {
	display: inline;
}

.pgn {
	display: none;
}

@media (min-width: 768px) {
    .board-with-info {
        position: fixed;
    }
}